@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Roboto', sans-serif;
}

.container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem;
}

.container-main h1 {
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.container-main input {
    margin: 0.4rem 0;
    padding: 0.3rem 0.3rem;
    width: 400px;
}

.container-main button {
    margin-top: 2rem;
    padding: 0.4rem 0;
    margin-bottom: 2rem;
    width: 400px;
}

/* Div Resultado */
.container-result-active {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
}